<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Biblioteka filmów</title>
</head>
<body>
    <h1>Biblioteka filmów</h1>

    {% if movies %}
        <ul>
            {% for movie in movies %}
                <li>
                    <a href="{% url 'movie_detail' movie.pk %}">
                        {{ movie.title }}
                    </a>
                    | gatunek: {{ movie.genre }}
                    | status: {{ movie.get_status_display }}
                    | data premiery: {{ movie.release_date }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Brak filmów w bazie.</p>
    {% endif %}
</body>
</html>